sudo: false
cache:
  directories:
  - node_modules
os:
- osx
- linux
before_install:
- mkdir $HOME/.appgyver
- echo $APPGYVER_ACCESS_TOKEN_CONTENTS > $HOME/.appgyver/token.json
- echo $DEVGYVER_ACCESS_TOKEN_CONTENTS > $HOME/.appgyver/devgyver.richard.token.json
- echo "before install lol"
install:
- ./scripts/travis/install.sh
before_script:
- echo "before script lol"
script:
- echo "script lol"
- STEROIDS_TEST_DEBUG=true ./bin/test release y
after_success:
- echo "after success lol --> $TRAVIS_TEST_RESULT"
after_failure:
- echo "after failure lol --> $TRAVIS_TEST_RESULT"
env:
- LONGCAT=looooong
deploy:
  provider: npm
  email: hostmaster+npm@appgyver.com
  api_key:
    secure: cqoGzWdH4OKx29MVsJghkfMHJn3XMrL1ISbU3isaRPbARIIT3dB3obyk0B4JCpbO+4fNWVQXaM9s9nibMWoQKBvfkXpVaPwn81t+riQJzmb//C2mFmVuuSHV0zfFsZcF7uJ7/Vjw2qSGZ0iOkmYg+JZmlqvuJYErsmSaPkGi+Dk=
  on:
    tags: true
    all_branches: true
    repo: AppGyver/steroids
    condition: $(uname) = 'Linux'
